.footer.color-scheme-1.gradient.section-sections--17593124421877__footer-padding{
  background-color: rgba(211, 181, 13, 0.5);
  width: 100%;
}
.footer__content-bottom-wrapper.page-width{
    display: flex;
    justify-content: center;
}
